@import 'variables.scss';
@import 'pagination.scss';
@import 'catalog-article.scss';


.catalog-outer{
    background-color: $green-light;
    padding-top: 45px;
    padding-bottom: 88px;

    h1{
        margin-bottom: 30px;
        font-size: 30px;
        // font-family: 'medium';
    }
}

.catalog-wrapper {
    display: grid;
    grid-template-columns: 295px auto;
    column-gap: 12px;
}

.catalog-total{
    font-size: 18px;
    color: #949FAF;
}

.catalog-main {

    &__head-row{
        margin-bottom: 18px;
    }

    .catalog-product-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-bottom: 12px;
    }
}

.links-list{
    padding-left: 60px;
    
    a{
        font-size: 26px;
        font-weight: 100;
        color: #949FAF;
        border-bottom: 1px solid rgba(112,112,112,.1);

        &:not(:nth-last-child(1)){
            margin-right: 40px;
        }
    }
}