ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.city-picker i {
  display: inline-block;
  width: 12px;
  height: 16px;
  background: url("../img/1617454.svg") no-repeat;
  vertical-align: middle;
}

.city-picker__city-name {
  margin: 0px 8px;
  cursor: pointer;
  border-bottom: 1px dashed #D8E8FF;
  padding-bottom: 2px;
}

main {
  min-height: 100vh;
}

.input-group {
  margin-bottom: 25px;
  width: 100%;
}

.input-group input[type="radio"],
.input-group input[type="checkbox"] {
  position: relative;
  display: none;
}

.input-group label {
  cursor: pointer;
}

.input-group__radio, .input-group__checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.input-group__radio:not(:nth-last-child(1)), .input-group__checkbox:not(:nth-last-child(1)) {
  margin-right: 37px;
}

.input-group__checkbox .styled-checkbox {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 14px;
  border: 1px solid #CCD5DE;
  background-color: #F5F8F9;
  vertical-align: middle;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.input-group__checkbox input[type="checkbox"]:checked + label .styled-checkbox {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
  box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
  background-color: #1876FB;
}

.input-group__checkbox input[type="checkbox"]:checked + label .styled-checkbox::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 7px;
  background: url("../img/check.svg") no-repeat center;
  background-size: contain;
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}

.input-group__radio input[type="radio"]:checked + label .styled-radio {
  border: 4px solid #1876FB;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
  box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
}

.input-group__radio .styled-radio {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 2px;
  border: 1px solid #CCD5DE;
  border-radius: 100%;
  background-color: #F5F8F9;
  vertical-align: middle;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.input-group__radio span {
  font-size: 14px;
  line-height: 22px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  display: inline-block;
}

.input-group__label {
  font-size: 16px;
  margin-bottom: 8.5px;
  width: 100%;
}

.input-group__label_radio {
  margin-bottom: 24px !important;
}

.input-group__input input {
  display: block;
  background-color: #F5F8F9;
  border: 1px solid #CCD5DE;
  padding: 14px;
  width: 100%;
  color: #949FAF;
  font-size: 16px;
}

.input-group__input input::-webkit-input-placeholder {
  color: #949FAF;
}

.input-group__input input:-ms-input-placeholder {
  color: #949FAF;
}

.input-group__input input::-ms-input-placeholder {
  color: #949FAF;
}

.input-group__input input::placeholder {
  color: #949FAF;
}

.input-group_vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.input_round {
  border-radius: 25px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  font-size: 16px;
  color: #fff;
  text-align: center;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
  background-color: #1876FB;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
          box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.button_round {
  border-radius: 25px;
  max-width: 153px;
}

.button_arrow i {
  display: inline-block;
  margin-left: 10px;
  width: 21px;
  height: 7px;
  vertical-align: middle;
  background: url("../img/arrow-right.svg") no-repeat center;
  background-size: contain;
}

.button_light-blue {
  background-color: #4AC7FF;
}

.button_grey {
  background-color: #949FAF;
}

.button:hover {
  -webkit-box-shadow: 0px 3px 20px 0px rgba(26, 83, 160, 0.34);
          box-shadow: 0px 3px 20px 0px rgba(26, 83, 160, 0.34);
}

.counter {
  border: 1px solid #CCD5DE;
  width: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.counter__button {
  width: 30px;
  height: 37px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30px;
          flex: 1 0 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  background-color: #F5F8F9;
  cursor: pointer;
}

.counter__button_minus, .counter__button_plus {
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

.counter__button_minus:hover, .counter__button_plus:hover {
  -webkit-filter: brightness(0.975);
          filter: brightness(0.975);
}

.counter__button_minus::after, .counter__button_plus::after {
  font-size: 25px;
}

.counter__button_minus {
  border-right: 1px solid #CCD5DE;
}

.counter__button_minus::after {
  content: '-';
}

.counter__button_plus {
  border-left: 1px solid #CCD5DE;
}

.counter__button_plus::after {
  content: '+';
}

.counter__input {
  background-color: #fff;
  font-size: 12px;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35px;
          flex: 1 0 35px;
  width: 35px;
  text-align: center;
}

.close {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url("../img/close.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  -webkit-transition: -webkit-filter .2s;
  transition: -webkit-filter .2s;
  transition: filter .2s;
  transition: filter .2s, -webkit-filter .2s;
}

.close:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.txt-grey {
  color: #949FAF;
}

.txt-centered {
  text-align: center;
}

.no-shadow {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.order-list {
  max-height: 350px;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.order-list .order-item {
  display: -ms-grid;
  display: grid;
  position: relative;
      grid-template-areas: 'preview name name' 'preview counter price';
  -ms-grid-columns: 117px 100px auto;
      grid-template-columns: 117px 100px auto;
  grid-row-gap: 10px;
  margin-bottom: 30px;
}

.order-list .order-item__preview {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: preview;
  max-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-list .order-item__preview img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.order-list .order-item__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: name;
  font-size: 16px;
  padding-right: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.order-list .order-item__counter {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-list .order-item__price {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: price;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  font-size: 18px;
}

.order-list .order-item__del {
  position: absolute;
  right: 20px;
  top: 5px;
  background: url("../img/close-orange.svg") no-repeat center;
  background-size: contain;
}

.order-list .order-item__del:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}
/*# sourceMappingURL=common.css.map */