@import 'variables.scss';
@import '_mixins.scss';

.detail{
    padding-top: 60px;
    padding-bottom: 45px;

    section{
        background-color: #fff;
        padding-bottom: 30px;
    }
    &-in{
        display: grid;
        grid-template-columns: 495px 395px 292px;
        gap: 15px;
    }

    &__slider{
        grid-column: 1;
        padding: 24px 27px;

        img{
            max-width: 100%;
        }
    }

    &__main-card{
        grid-column: 2;
        padding: 35px;

        .catalog-item__info__status{
            margin-bottom: 6px;
        }

        .product-name{
            font-size: 22px;
            margin-bottom: 5px;
        }

        .rating{
            margin-bottom: 17px;
        }

        .product-color{
            font-size: 16px; @include tablet{font-size: 14px}

            &__caption{
                margin-bottom: 12px;
            }

            .active{
                border: 2px solid #B2D2FF;
            }

            .catalog-item__info__colors .one-product-color:not(:nth-last-child(1)){
                margin-right: 15px;
            }

            .catalog-item__info__colors{
                margin-bottom: 30px;
            }
        }

        .product-description{
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 22px;
        }

        .product-price{
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            

            &__value{
                font-size: 30px; @include tablet{font-size: 22px;}
                font-weight: bold;
                margin-right: 8px;
            }

            &__count{
                font-size: 12px;
                color: #969D97;
            }
        }

        .product-price-area{
            display: flex;
            // justify-content: space-between;

            .product-buy-btn{
                width: 130px;

                i{
                    margin-left: 15px;
                }
            }

            .product-counter{
                margin-right: 20px;

                .counter{
                    width: 137px;
                }
            }
            

            .counter__button, .counter__input{
                height: 50px;
                width: 45px;
                flex-basis: 45px;
                max-width: 45px;
                font-size: 18px; @include tablet{font-size: 14px}
            }
        }
    }

    &__delivery-card{
        padding: 35px 28px;
        line-height: 22px;
        a{
            color: $blue;
        }
    }

    &__description{
        grid-column: 1 / span 3;
        padding-bottom: 55px !important;
        margin-bottom: 5px;

        .description__tabs{
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;

            .one-tab{
                flex: 1;
                display: flex;
                justify-content: center;
                text-align: center;
                border-bottom: 2px solid transparent;
                font-size: 16px; @include tablet{font-size: 14px}
                // font-family: 'medium';
                min-height: 67px;
                align-items: center;
                cursor: pointer;

                &.active{
                    border-bottom: 2px solid $blue;
                }
            }
        }
        .description__table{
            padding: 0px 37px;

            table{
                font-size: 16px; @include tablet{font-size: 14px}
                // font-family: 'medium'
                border-collapse: collapse;
                width: 100%;

                th{
                    font-weight: normal;
                }

                td{
                    padding: 12px 17px;
                }

                tr{
                    min-height: 40px;
                    display: flex;
                    align-items: center;

                    td:nth-child(1){
                        min-width: 71%;
                    }

                    &:nth-child(2n){
                        background-color: #F5F8F9;
                    }
                }
            }
        }
    }

    .reviews, .add-feedback-block{
        grid-column: 1 / span 3;
    }

    .delivery-description{
        margin-bottom: 32px;
        

        &.delivery-options{
            li{
                list-style: inside;
                margin-bottom: 5px;
            }
        }
        &.delivery-types{}
        &.delivery-terms{}


        
        &__head{
            font-size: 16px; @include tablet{font-size: 14px}
            // font-family: 'medium'
            margin-bottom: 7px;
        }
    }

    .questions{
        padding-top: 10px;
    }
}