.detail {
  padding-top: 60px;
  padding-bottom: 45px;
}

.detail section {
  background-color: #fff;
  padding-bottom: 30px;
}

.detail-in {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 495px 395px 292px;
      grid-template-columns: 495px 395px 292px;
  gap: 15px;
}

.detail__slider {
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 24px 27px;
}

.detail__slider img {
  max-width: 100%;
}

.detail__main-card {
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 35px;
}

.detail__main-card .catalog-item__info__status {
  margin-bottom: 6px;
}

.detail__main-card .product-name {
  font-size: 22px;
  margin-bottom: 5px;
}

.detail__main-card .rating {
  margin-bottom: 17px;
}

.detail__main-card .product-color {
  font-size: 16px;
}

@media (max-width: 1399px) {
  .detail__main-card .product-color {
    font-size: 12px;
  }
}

.detail__main-card .product-color__caption {
  margin-bottom: 12px;
}

.detail__main-card .product-color .active {
  border: 2px solid #B2D2FF;
}

.detail__main-card .product-color .catalog-item__info__colors .one-product-color:not(:nth-last-child(1)) {
  margin-right: 15px;
}

.detail__main-card .product-color .catalog-item__info__colors {
  margin-bottom: 30px;
}

.detail__main-card .product-description {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 22px;
}

.detail__main-card .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.detail__main-card .product-price__value {
  font-size: 30px;
  font-weight: bold;
  margin-right: 8px;
}

.detail__main-card .product-price__count {
  font-size: 12px;
  color: #969D97;
}

.detail__main-card .product-price-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail__main-card .product-price-area .product-buy-btn {
  width: 130px;
}

.detail__main-card .product-price-area .product-buy-btn i {
  margin-left: 15px;
}

.detail__main-card .product-price-area .product-counter {
  margin-right: 20px;
}

.detail__main-card .product-price-area .product-counter .counter {
  width: 137px;
}

.detail__main-card .product-price-area .counter__button, .detail__main-card .product-price-area .counter__input {
  height: 50px;
  width: 45px;
  -ms-flex-preferred-size: 45px;
      flex-basis: 45px;
  max-width: 45px;
  font-size: 18px;
}

.detail__delivery-card {
  padding: 35px 28px;
  line-height: 22px;
}

.detail__delivery-card a {
  color: #1876FB;
}

.detail__description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  padding-bottom: 55px !important;
  margin-bottom: 5px;
}

.detail__description .description__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.detail__description .description__tabs .one-tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  min-height: 67px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 1399px) {
  .detail__description .description__tabs .one-tab {
    font-size: 12px;
  }
}

.detail__description .description__tabs .one-tab.active {
  border-bottom: 2px solid #1876FB;
}

.detail__description .description__table {
  padding: 0px 37px;
}

.detail__description .description__table table {
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
}

@media (max-width: 1399px) {
  .detail__description .description__table table {
    font-size: 12px;
  }
}

.detail__description .description__table table th {
  font-weight: normal;
}

.detail__description .description__table table td {
  padding: 12px 17px;
}

.detail__description .description__table table tr {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail__description .description__table table tr td:nth-child(1) {
  min-width: 71%;
}

.detail__description .description__table table tr:nth-child(2n) {
  background-color: #F5F8F9;
}

.detail .reviews, .detail .add-feedback-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.detail .delivery-description {
  margin-bottom: 32px;
}

.detail .delivery-description.delivery-options li {
  list-style: inside;
  margin-bottom: 5px;
}

.detail .delivery-description__head {
  font-size: 16px;
  margin-bottom: 7px;
}

@media (max-width: 1399px) {
  .detail .delivery-description__head {
    font-size: 12px;
  }
}

.detail .questions {
  padding-top: 10px;
}
/*# sourceMappingURL=detail.css.map */