@import 'variables.scss';

.filter {
    padding-top: 10px;

    &__head {
        font-size: 18px;
        // font-family: 'medium';
        margin-bottom: 32px;
    }

    &__options {

        margin-bottom: 35px;

        .filter__head{
            margin-bottom: 26px;
        }

        .input-group {
            &__checkbox {
                display: block;
                margin-bottom: 12px;
            }
        }
    }

    &__price{
        margin-bottom: 30px;
    }

    &__slide-component{
        padding-right: 40px;
    }

    .filter-prices-area{
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
            padding: 16px 0px;
            text-align: center;
            border: 1px solid #CCD5DE;
            max-width: 100px;
        }
    }

    .category-list {

        margin-bottom: 52px;

        &__one-categoty {

            &.active{
                .category-list__subcategory{
                    display: block;
                }
            }
            .category__head {
                font-size: 16px;
                margin-bottom: 20px;
                cursor: pointer;

                &.active {
                    color: $blue;
                }
            }
        }

        &__subcategory {
            display: none;
            padding-left: 20px;
            margin-bottom: 25px;

            &>div {
                margin-bottom: 13.5px;

                &.active {
                    color: $blue;
                }
            }
        }
    }

    .apply-filter{
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 240px;

        #apply{
            margin-bottom: 18px;
        }
    
        #clear{
            color: #808080;
            text-decoration: underline;
            text-align: center;
        }
    }

    .styled-checkbox{
        background-color: #fff
    }

    #range{
        margin-bottom: 55px;
    }

    
}

// noui jquery plugin
.noUi-horizontal {
    height: 3px;
    background-color: #EAEDF2;
    box-shadow: unset;
    border: unset;
}

.noUi-connect {
    background: #1876FB;
}

.noUi-horizontal .noUi-handle {
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background-color: #1876FB;
    border: 4px solid #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.noUi-handle:after,
.noUi-handle:before {
    display: none;
}

.noUi-tooltip{
    bottom: -30px !important;
    color: #979CAC;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}