@import 'variables.scss';

.footer{
    padding-top: 90px;
    
    &__main{
        display: flex;
        justify-content: space-between;

        &__column{

            &:not(:nth-child(1)){
                padding-left: 15px;
            }

            flex: 1;

            .footer-head{
                font-size: 18px;
                margin-bottom: 22px;
                display: block;
                min-height: 21px;
                // font-family: 'medium'
            }

            ul{
                columns: 1;

                li{
                    margin-bottom: 13px;
                   
                }

                a{
                    color: $font-grey;
                    max-width: 250px;
                    @include row-dots(2);
                }
            }
        }
    }

    &__bottom{
        border-top: 1px solid #F5F8F9;
        margin-top: 50px;

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 85px;
        }
        
        a{
            color: $blue;
        }

        .copyright{
            color: #484848;
            font-size: 13px;
        }

        .developer{
            font-size: 13px;
            color: $font-grey;
        }

        .soc-block{
            padding-right: 0;

            a:nth-last-child(1) .soc-block__element{
                margin-right: 0;
            }

            &__element{
                margin: 0px 12px;
            }
        }
    }

    &-contacts{
        margin-top: 30px;

        .tel{
        
            margin-bottom: 12px;
        }

        .schedule{
            font-size: 13px;
            color: $font-grey;
        }

        &__address{
            line-height: 22px;
            margin-bottom: 6px;
            // font-family: 'light'
            max-width: 250px;
            overflow: hidden;
    text-overflow: ellipsis;
        }

        &__email{
            color: $font-grey;
            margin-bottom: 30px;

            a{
                color: $blue;
            }
        }
    }
}