.reviews {
  padding: 40px 37px;
}

.reviews__list {
  margin-top: 45px;
}

.reviews__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__pagination .button {
  width: 240px;
  background-color: #F5F8F9;
  color: #949FAF;
}

.reviews__pagination .button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.reviews .section-title {
  font-size: 22px;
}

.reviews .one-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.reviews .add-review {
  max-width: 150px;
}

.reviews .review-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews .review-avatar-in {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews .review-avatar img {
  max-width: 100%;
}

.reviews .review-block {
  font-size: 16px;
  background-color: #F5F8F9;
  width: 100%;
}

.reviews .review-block__head {
  padding: 20px 17px;
  border-bottom: 1px solid #D9E6EA;
}

.reviews .review-block__head .user-name {
  margin-bottom: 16px;
}

.reviews .review-block__main {
  padding: 20px 17px;
  border-bottom: 1px solid #D9E6EA;
}

.reviews .review-block__main .review-text {
  margin-bottom: 30px;
}

.reviews .review-block__main .pros-cons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.reviews .review-block__main .pros-cons .label, .reviews .review-block__main .pros-cons .descr {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.reviews .review-block__main .pros-cons .ico-cons,
.reviews .review-block__main .pros-cons .ico-pros {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews .review-block__main .pros-cons .ico-cons .ico-in,
.reviews .review-block__main .pros-cons .ico-pros .ico-in {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.reviews .review-block__main .pros-cons .ico-cons .ico-in {
  background: url("../img/Group 8130.svg") no-repeat center;
  background-size: contain;
}

.reviews .review-block__main .pros-cons .ico-pros .ico-in {
  background: url("../img/Group 8129.svg") no-repeat center;
  background-size: contain;
}

.reviews .review-block__main .pros-cons .label {
  font-size: 16px;
  margin-bottom: 16px;
}

.reviews .review-block__main .pros-cons .comment-content .descr {
  font-size: 14px;
}

.reviews .review-block__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 17px;
}

.reviews .review-block__bottom .reply {
  cursor: pointer;
  color: #1876FB;
}

.reviews .review-block__bottom .review-rating {
  margin-left: auto;
}

.reviews .review-block__bottom .review-rating i {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.reviews .review-block__bottom .review-rating i.good {
  background: url("../img/Like_2.svg") no-repeat center;
  background-size: contain;
}

.reviews .review-block__bottom .review-rating i.bad {
  background: url("../img/Like_2.svg") no-repeat center;
  background-size: contain;
}

.reviews .review-block__bottom .review-rating span {
  color: #949FAF;
}

.reviews .review-block__bottom .review-rating .rating-count {
  color: #333;
}
/*# sourceMappingURL=reviews.css.map */