.reviews {
  padding: 40px 37px;
}

.reviews__list {
  margin-top: 45px;
}

.reviews__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  margin-bottom: 25px;
}

.reviews__pagination .button {
  width: 240px;
  background-color: #F5F8F9;
  color: #949FAF;
}

.reviews__pagination .button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.reviews .section-title {
  font-size: 22px;
}

.reviews .one-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.reviews .add-review {
  max-width: 150px;
}

.reviews .add-review .button {
  font-size: 15px;
}

.reviews .add-review_bottom {
  margin-top: 5px;
  max-width: 190px;
}

.reviews .review-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.reviews .review-avatar-in {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews .review-avatar img {
  max-width: 100%;
}

.reviews .review-block {
  font-size: 16px;
  background-color: #F5F8F9;
  width: 100%;
}

.reviews .review-block__head {
  padding: 17px;
  border-bottom: 1px solid #D9E6EA;
}

.reviews .review-block__head .user-name {
  margin-bottom: 10px;
}

.reviews .review-block__main {
  padding: 17px;
  padding-bottom: 0;
  border-bottom: 1px solid #D9E6EA;
}

.reviews .review-block__main .review-text {
  margin-bottom: 30px;
  line-height: 22px;
}

.reviews .review-block__main .pros-cons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.reviews .review-block__main .pros-cons .label,
.reviews .review-block__main .pros-cons .descr {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.reviews .review-block__main .pros-cons .label {
  font-size: 16px;
  margin-bottom: 5px;
}

.reviews .review-block__main .pros-cons .comment-content .descr {
  font-size: 14px;
}

.reviews .review-block__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px;
}

.reviews .review-block__bottom .reply {
  cursor: pointer;
  color: #1876FB;
}

.reviews .review-block__bottom .review-rating {
  margin-left: auto;
  margin-right: 22px;
}

.reviews .review-block__bottom .review-rating i {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.reviews .review-block__bottom .review-rating i.good {
  background: url("../img/Like_2.svg") no-repeat center;
  background-size: contain;
}

.reviews .review-block__bottom .review-rating i.bad {
  background: url("../img/Like_2.svg") no-repeat center;
  background-size: contain;
}

.reviews .review-block__bottom .review-rating span {
  color: #949FAF;
}

.reviews .review-block__bottom .review-rating .rating-count {
  color: #333;
}

.add-feedback-block {
  padding: 40px 37px;
}

.add-feedback-block .input-group__label {
  margin-bottom: 16.5px;
}

.add-feedback-block .add-feedback-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 510px) minmax(auto, 510px);
      grid-template-columns: minmax(auto, 510px) minmax(auto, 510px);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: 'score score' 'text-review pros' 'text-review empty' 'name email';
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.add-feedback-block .add-feedback-container .my-score {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: score;
  margin-bottom: 20px;
}

.add-feedback-block .add-feedback-container .my-score .input-group__label {
  font-size: 14px;
  margin-bottom: 16px;
}

.add-feedback-block .add-feedback-container .my-score .star {
  width: 24px;
  height: 24px;
  margin-right: 3px;
  cursor: pointer;
}

.add-feedback-block .add-feedback-container .my-score .rating__num {
  font-size: 21px;
  margin-left: 8px;
}

.add-feedback-block .add-feedback-container .my-review {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: text-review;
}

.add-feedback-block .add-feedback-container .my-name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: text-review;
}

.add-feedback-block .add-feedback-container .pros-cons {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pros;
}

.add-feedback-block .add-feedback-container .pros-cons .input-group__input {
  position: relative;
  margin-bottom: 25px;
}

.add-feedback-block .add-feedback-container .pros-cons .ico-pros,
.add-feedback-block .add-feedback-container .pros-cons .ico-cons {
  position: absolute;
  left: 12px;
  top: 12px;
}

.add-feedback-block .add-feedback-container .pros-cons input {
  padding-left: 45px;
}

.add-feedback-block .add-feedback-container .my-email, .add-feedback-block .add-feedback-container .my-name {
  margin-top: 30px;
}

.add-feedback-block .add-feedback-container .my-name {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: name;
}

.add-feedback-block .add-feedback-container .my-email {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: email;
}

#my-review {
  padding-bottom: 0;
}

.add-review_bottom {
  max-width: 190px;
}
/*# sourceMappingURL=reviews.css.map */