@import '_mixins.scss';
@import 'variables.scss';

.reviews {
    padding: 40px 37px;

    &__list {
        margin-top: 45px;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        margin-bottom: 25px;

        .button {
            width: 240px;
            background-color: #F5F8F9;
            color: #949FAF;

            &:hover {
                filter: brightness(.9)
            }
        }
    }

    .section-title {
        font-size: 22px;
    }

    .one-review {
        display: flex;
        margin-bottom: 20px;
    }

    .add-review {
        max-width: 150px;

        .button{
            font-size: 15px;
        }

        &_bottom{
            margin-top: 5px;
            max-width: 190px;
        }
    }

    .review-avatar {


        display: flex;
        flex: 0 0 100px;
        justify-content: flex-start;

        &-in {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
        }

        img {
            max-width: 100%;
        }
    }

    .review-block {
        font-size: 16px;
        background-color: #F5F8F9;
        width: 100%;

        &__head {
            padding: 17px;
            border-bottom: 1px solid #D9E6EA;

            .user-name {
                margin-bottom: 10px;
                // font-family: 'medium'

            }
        }

        &__main {
            padding: 17px;
            padding-bottom: 0;
            border-bottom: 1px solid #D9E6EA;

            .review-text {
                margin-bottom: 30px;
                line-height: 22px;
            }

            .pros-cons {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 25px;

                .label,
                .descr {
                    display: block;
                    width: 100%;
                    flex: 1 0 100%;
                }

                .label {
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                .comment-content {
                    .descr {
                        font-size: 14px;
                    }
                }
            }
        }

        &__bottom {
            display: flex;
            min-height: 55px;
            align-items: center;
            padding: 17px;

            .reply {
                cursor: pointer;
                color: $blue;
            }

            .review-rating {
                margin-left: auto;
                margin-right: 22px;

                i {
                    display: inline-block;
                    width: 16px;
                    height: 16px;

                    &.good {
                        @include background_img('../img/Like_2.svg');
                    }

                    &.bad {
                        @include background_img('../img/Like_2.svg'); //dislike
                    }

                }

                span {
                    color: #949FAF;
                }

                .rating-count {
                    color: #333
                }
            }
        }
    }
}

.add-feedback-block {
    padding: 40px 37px;

    .input-group__label {
        margin-bottom: 16.5px;
    }


    .add-feedback-container {
        display: grid;
        grid-template-columns: minmax(auto, 510px) minmax(auto, 510px);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 'score score'
            'text-review pros'
            'text-review empty'
            'name email';
        column-gap: 15px;


        .my-score {
            grid-area: score;
            margin-bottom: 20px;

            .input-group__label {
                font-size: 14px;
                margin-bottom: 16px;
            }


            .star {
                width: 24px;
                height: 24px;
                margin-right: 3px;
                cursor: pointer;
            }

            .rating__num {
                font-size: 21px;
                margin-left: 8px;
            }
        }

        .my-review {
            grid-area: text-review;
        }

        .my-name {
            grid-area: text-review;
        }

        .pros-cons {
            grid-area: pros;

            .input-group__input {
                position: relative;
                margin-bottom: 25px;
            }

            .ico-pros,
            .ico-cons {
                position: absolute;
                left: 12px;
                top: 12px;
            }

            input {
                padding-left: 45px;
            }
        }

        .my-email,  .my-name{
            margin-top: 30px;
        }

        .my-name {
            grid-area: name;
        }

        .my-email {
            grid-area: email;
        }
    }
}

#my-review{
    padding-bottom: 0
}

.add-review_bottom{
    max-width: 190px;
}