@import 'variables.scss';
@import '_mixins.scss';

.seo{
    color: #949FAF;
    padding-bottom: 75px;

    .section-head{
        margin-bottom: 35px;
    }

    &__description-main{
        font-size: 22px;
        font-weight: 100;
        margin-bottom: 40px;
    }

    &__description-cols ul{
        column-count: 2;
        column-gap: 70px;

        li{
            font-size: 16px; @include tablet{font-size: 14px}
            line-height: 26px;
        }
    }
}