$container-width: 1210px;
$container-tablet-width: 750px;
$default_font_size: 14px;
$default_font_size_tablet: 12px;
$default_font_name: 'PF Highway Sans Pro';
$proximanova-regular: 'proximanova-regular';
$border-color: #D8E8FF;
$border-color-grey: #f1f1f1;
$font-grey: #707070;
$blue: #1876FB;
$blue-dark: #2367C3;
$input-bg: #F5F8F9;
$green-light: #F5F8F9;