@media (max-width: 759px) {
  .brands {
    padding-top: 25px;
  }
}

@media (max-width: 1399px) and (min-width: 760px) {
  .brands {
    padding-top: 40px;
  }
}

@media (max-width: 759px) {
  .brands {
    padding-top: 25px;
  }
}

.brands .catalog-wrapper {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .brands .catalog-main__head-row {
    margin-bottom: 30px;
  }
}

.catalog-brand-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  row-gap: 18px;
  -webkit-column-gap: 14px;
          column-gap: 14px;
  margin-bottom: 18px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .catalog-brand-list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 15px;
  }
}

@media (max-width: 759px) {
  .catalog-brand-list {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    row-gap: 10px;
  }
}

.catalog-brand-list .one-brand, .catalog-brand-list .one-brand a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-brand-list .one-brand {
  min-height: 243px;
  background-color: #fff;
}

@media (max-width: 759px) {
  .catalog-brand-list .one-brand {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 1fr;
        grid-template-columns: 45% 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    min-height: 120px;
  }
}

.catalog-brand-list .one-brand a {
  color: #1876FB;
  font-size: 16px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .catalog-brand-list .one-brand a {
    font-size: 14px;
  }
}

.catalog-brand-list .one-brand__logo {
  height: 130px;
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 759px) {
  .catalog-brand-list .one-brand__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0px;
  }
}

.catalog-brand-list .one-brand__name {
  font-size: 16px;
  margin-bottom: 7px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .catalog-brand-list .one-brand__name {
    margin-bottom: 8px;
  }
}

@media (max-width: 759px) {
  .catalog-brand-list .one-brand__name {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 1399px) and (min-width: 760px) {
  .catalog-brand-list .one-brand__site {
    font-size: 16px;
  }
}

@media (max-width: 759px) {
  .catalog-brand-list .one-brand__site {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*# sourceMappingURL=brands.css.map */