.pagination {
  margin-bottom: 50px;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  background-color: #fff;
}

@media (max-width: 1399px) {
  .pagination ul {
    min-height: 39px;
  }
}

.pagination ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60px;
  height: 62px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62px;
          flex: 0 1 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-left: 1px solid rgba(112, 112, 112, 0.1);
  border-right: 1px solid rgba(112, 112, 112, 0.1);
  margin-left: -1px;
}

.pagination ul li:nth-child(1) {
  border-left: none;
}

.pagination ul li:nth-last-child(1) {
  border-right: none;
}

@media (max-width: 1399px) {
  .pagination ul li {
    width: 39px;
    height: 39px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 39px;
            flex: 0 1 39px;
  }
}

.pagination ul li:hover {
  background-color: #F4F5F7;
  border-left: 1px solid rgba(112, 112, 112, 0);
  border-right: 1px solid rgba(112, 112, 112, 0);
}

.pagination ul li.prev a, .pagination ul li.next a {
  display: block;
  background: url("../img/arrow-pag.svg") no-repeat center;
  background-size: contain;
  background-size: initial;
}

.pagination ul li.next a {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.pagination ul li.next {
  margin-left: auto;
}

.pagination ul li a {
  font-size: 14px;
  color: #707070;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1399px) {
  .pagination ul li a {
    font-size: 12px;
  }
}

.catalog-article {
  padding: 44px 42px;
  background-color: #fff;
}

@media (max-width: 1399px) {
  .catalog-article {
    padding: 24px 24px;
  }
}

.catalog-article__img {
  max-width: 100%;
  margin-bottom: 28.5px;
}

.catalog-article__title {
  font-size: 30px;
  margin-bottom: 35px;
}

@media (max-width: 1399px) {
  .catalog-article__title {
    font-size: 18px;
    margin-bottom: 18px;
  }
}

.catalog-article p.main {
  font-size: 18px;
  font-weight: 100;
  line-height: 26px;
}

@media (max-width: 1399px) {
  .catalog-article p.main {
    font-size: 14px;
    font-weight: 100;
    line-height: 18px;
  }
}

.catalog-article p.sub-paragraph {
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 1399px) {
  .catalog-article p.sub-paragraph {
    font-size: 12px;
    line-height: 18px;
  }
}

.catalog-article p:not(:nth-last-child(1)) {
  margin-bottom: 32px;
}

.catalog-outer {
  background-color: #F5F8F9;
  padding-top: 45px;
  padding-bottom: 88px;
}

@media (max-width: 1399px) {
  .catalog-outer {
    padding-top: 60px;
  }
}

.catalog-outer h1 {
  margin-bottom: 30px;
  font-size: 30px;
}

@media (max-width: 1399px) {
  .catalog-outer h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.catalog-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 295px auto;
      grid-template-columns: 295px auto;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

@media (max-width: 1399px) {
  .catalog-wrapper {
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
}

@media (max-width: 759px) {
  .catalog-wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.catalog-total {
  font-size: 18px;
  color: #949FAF;
}

@media (max-width: 1399px) {
  .catalog-total {
    font-size: 14px;
  }
}

.catalog-main__head-row {
  margin-bottom: 18px;
}

@media (max-width: 1399px) {
  .catalog-main__head-row {
    margin-bottom: 45px;
  }
}

.catalog-main__head-row p {
  color: #949FAF;
  font-size: 12px;
  line-height: 16px;
}

.catalog-main__head-row .button {
  min-height: 35px;
  padding: 8px 0px;
  width: auto;
  min-width: 110px;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (max-width: 1399px) {
  .catalog-main__head-row .button {
    font-size: 12px;
    min-width: 65px;
    min-height: 20px;
    padding: 5px 0px;
    margin-right: 10px;
  }
}

.catalog-main .catalog-product-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 12px;
}

@media (max-width: 1399px) {
  .catalog-main .catalog-product-list {
    margin-bottom: 15px;
  }
}

@media (max-width: 759px) {
  .catalog-main .catalog-product-list {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.links-list {
  padding-left: 60px;
}

@media (max-width: 1399px) {
  .links-list {
    padding-left: 35px;
  }
}

.links-list a {
  font-size: 26px;
  font-weight: 100;
  color: #949FAF;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

@media (max-width: 1399px) {
  .links-list a {
    font-size: 14px;
  }
}

.links-list a:not(:nth-last-child(1)) {
  margin-right: 40px;
}
/*# sourceMappingURL=catalog.css.map */