.checkout-outer {
  background-color: #F5F8F9;
}

.checkout-outer h1 {
  margin-bottom: 22px;
}

.checkout-outer .checkout-fields-outer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 355px 290px;
      grid-template-columns: 355px 290px;
  -webkit-column-gap: 67px;
          column-gap: 67px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-outer .checkout-fields-outer {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.checkout-outer .checkout-fields__head {
  font-size: 22px;
  margin-bottom: 25px;
  display: block;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-outer .checkout-fields__head {
    font-size: 18px;
    margin-bottom: 18px;
  }
}

.checkout-outer .checkout-fields .input-group_street {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.checkout-outer .checkout-fields .input-group_street .input-group__label {
  display: block;
}

.checkout-outer .checkout-fields .input-group__input_street {
  width: 190px;
  margin-right: 10px;
}

.checkout-outer .checkout-fields .input-group__input_house {
  width: 88px;
}

.checkout-outer .input-group {
  margin-bottom: 33px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-outer .input-group {
    margin-bottom: 29px;
  }
}

.checkout-outer .input-group__label {
  margin-bottom: 16.5px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-outer .input-group input, .checkout-outer .input-group textarea {
    padding: 15px;
    font-size: 14px;
  }
}

.checkout-outer .call-back {
  margin-bottom: 37px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-outer .call-back {
    margin-bottom: 30px;
  }
}

.checkout-outer .call-back .button {
  min-height: 25px;
  padding: 11px 0px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-outer .call-back .button {
    font-size: 14px;
    max-width: 140px;
  }
}

.checkout-outer .call-back > span {
  font-size: 16px;
  margin-right: 13px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-outer .call-back > span {
    font-size: 14px;
    margin-right: 2px;
  }
}

.order-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 800px 395px;
      grid-template-columns: 800px 395px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding-top: 60px;
  padding-bottom: 35px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .order-wrapper {
    -ms-grid-columns: 445px 295px;
        grid-template-columns: 445px 295px;
    padding-top: 35px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.checkout-main, .checkout-aside {
  background-color: #fff;
}

.checkout-main {
  padding: 42px 37px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-main {
    padding: 30px 38px 30px 28px;
  }
}

.checkout-aside {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.checkout-aside-in {
  padding: 37px 17px 0px 37px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-aside-in {
    padding: 20px 0px 20px 30px;
  }
}

.checkout-aside__head {
  font-size: 16px;
  margin-bottom: 35px;
  display: block;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-aside__head {
    font-size: 15px;
    margin-bottom: 23px;
    padding-left: 5px;
  }
}

.checkout-aside__total {
  border-top: 1px solid #DEE9F4;
}

.checkout-aside__total .total-head {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-aside__total .total-head {
    font-size: 9px;
    margin-bottom: 2px;
  }
}

.checkout-aside__total .total-price {
  font-size: 30px;
  font-weight: bold;
  margin-right: 18px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-aside__total .total-price {
    font-size: 19px;
    margin-right: 12px;
  }
}

.checkout-aside__total .total-description {
  max-width: 70px;
  color: #969D97;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-aside__total .total-description {
    max-width: unset;
  }
}

.checkout-aside__total .checkout-aside-in {
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 43px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-aside .bonus-code {
    padding-right: 25px;
  }
}

.checkout-aside .bonus-code .input-group__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.checkout-aside .bonus-code .input-group__input input {
  margin-right: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 190px;
          flex: 1 0 190px;
  max-width: 190px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .checkout-aside .bonus-code .input-group__input input {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 150px;
            flex: 1 0 150px;
    max-width: 150px;
  }
}

.checkout-aside .bonus-code .input-group__input .button {
  max-width: 115px;
}

.input-group__radio:not(:nth-last-child(1)), .input-group__checkbox:not(:nth-last-child(1)) {
  margin-right: 37px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  #order-proceed {
    max-width: 290px;
    padding: 16px 0px;
    margin-top: 3px;
    font-size: 16px;
  }
}
/*# sourceMappingURL=checkout.css.map */