@import '_mixins.scss';
@import 'variables.scss';

.checkout-outer{
    background-color: $green-light;

    @include mobile{
        // background-color: #fff;
    }

    .container{
        @include mobile{
            padding: 0;
        }
    }

    h1{
        // font-family: 'medium'
        margin-bottom: 22px;

        @include mobile{
            margin-bottom: 15px;
        }
    }

    .checkout-fields-outer{
        display: grid;
        grid-template-columns: 355px 290px;
        column-gap: 67px;

        @include tablet{
            grid-template-columns: 100%;
        }

        @include mobile{
            grid-template-columns: 100%;
        }
    }
    .checkout-fields{
    
        &__head{
            // font-family: 'medium'
            font-size: 22px;
            margin-bottom: 25px;
            display: block;

            @include tablet{
                font-size: 18px;
                margin-bottom: 18px;
            }
        }

        .input-group_street{
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .input-group__label{
                display: block;
            }
        }

        .input-group__input_street{
            width: 190px;
            margin-right: 10px;
        }

        .input-group__input_house{
            width: 88px;
        }
        
    }

    .input-group{
        margin-bottom: 33px;

        @include tablet{
            margin-bottom: 29px;
        }

        @include mobile{
            margin-bottom: 35px;

            &:nth-last-child(1){
                margin-bottom: 28px;
            }
        }

        &__label{
            margin-bottom: 16.5px;
        }

        input, textarea{

            @include tablet{
                padding: 15px;
                font-size: 14px;
            }
            
        }
    }

    .call-back{
        margin-bottom: 37px;

        @include tablet{
            margin-bottom: 30px;
        }

        @include mobile{
            margin-bottom: 35px;
        }
    
        .button{
            min-height: 25px;
            padding: 11px 0px;

            @include tablet{
                font-size: 14px;
                max-width: 140px;
            }

            @include mobile{
                margin-top: 10px;
            }
            
        }
    
        &>span{
            font-size: 16px;
            margin-right: 13px;
            @include tablet{
                font-size: 14px;
                margin-right: 2px;
            }
        }
    }
}

.order-wrapper{
    display: grid;
    grid-template-columns: 800px 395px;
    column-gap: 15px;
    padding-top: 60px;
    padding-bottom: 35px;

    @include tablet{
        grid-template-columns: 445px 295px;
        padding-top: 35px;
        column-gap: 10px;
    }

    @include mobile{
        grid-template-columns: 100%;
        padding-top: 10px;
        row-gap: 15px;
    }
}

.checkout-main, .checkout-aside{
    background-color: #fff;

    @include mobile{
        // padding: 0px 15px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}


.checkout-main{
    padding: 42px 37px;

    @include tablet{
        padding: 30px 38px 30px 28px;
    }

    @include mobile{
        padding: 12px 0px;
        padding-bottom: 20px;
    }
}

.checkout-aside {
    
    height: fit-content;
    position: sticky;
    top: 0;

    &-in{
        padding: 37px 17px 0px 37px;

        @include tablet{
            padding: 20px 0px 20px 30px;
        }

        @include mobile{
            padding: 25px 0px 0px 0px;
        }
    }

    &__head{
        font-size: 16px; 
        // font-family: 'medium'
        margin-bottom: 35px;
        display: block;

        @include tablet{
            font-size: 15px;
            margin-bottom: 23px;
            padding-left: 5px;
        }

        @include mobile{
            font-size: 22px;
            margin-bottom: 10px;
        }
    }

    &__total{
        border-top: 1px solid #DEE9F4;

        .total-head{
            font-size: 16px; 
            margin-bottom: 10px;
            @include tablet{
                font-size: 9px;
                margin-bottom: 2px;
            }
        }
        
        .total-price{
            font-size: 30px; 
            font-weight: bold;
            margin-right: 18px;

            @include tablet{
                font-size: 19px;
                margin-right: 12px;
            }
        }

        .total-description{
            max-width: 70px;
            color: #969D97;
            font-size: 12px;
            display: inline-block;
            vertical-align: middle;

            @include tablet{
                max-width: unset;
            }
        }

        .checkout-aside-in{
            padding-top: 23px;
            padding-bottom: 20px;
            padding-left: 43px;
        }
    }

    .bonus-code{

        @include tablet{
            padding-right: 25px;
        }
        
        .input-group__input{
            display: flex;
            justify-content: flex-start;

            @include mobile{
                flex-direction: column;
            }

            input{
                margin-right: 15px;
                flex: 1 0 190px;
                max-width: 190px;

                @include tablet{
                    flex: 1 0 150px;
                    max-width: 150px;
                }

                @include mobile{
                    flex: unset;
                }
            }

            .button{
                max-width: 115px;
            }
        }
    }
}
.input-group__radio:not(:nth-last-child(1)), .input-group__checkbox:not(:nth-last-child(1)){
    margin-right: 37px;
}

#order-proceed{
    @include tablet{
        max-width: 290px;
        padding: 16px 0px;
        margin-top: 3px;
        font-size: 16px;
    }
}