ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.city-picker i {
  display: inline-block;
  width: 12px;
  height: 16px;
  vertical-align: middle;
  background-color: #333;
  -webkit-mask-image: url("../img/1617454.svg");
  mask-image: url("../img/1617454.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .city-picker i {
    width: 7px;
    height: 10px;
  }
}

.city-picker__city-name {
  margin: 0px 8px;
  cursor: pointer;
  border-bottom: 1px dashed #D8E8FF;
  padding-bottom: 2px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .city-picker__city-name {
    margin: 0px 2px;
  }
}

main {
  min-height: 100vh;
  background-color: #F5F8F9;
}

.input-group {
  margin-bottom: 25px;
  width: 100%;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .input-group {
    margin-bottom: 28.5px;
  }
}

.input-group input[type="radio"],
.input-group input[type="checkbox"] {
  position: relative;
  display: none;
}

.input-group label {
  cursor: pointer;
}

.input-group__radio, .input-group__checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.input-group__checkbox .styled-checkbox {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 14px;
  border: 1px solid #CCD5DE;
  background-color: #F5F8F9;
  vertical-align: middle;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .input-group__checkbox .styled-checkbox {
    margin-right: 14px;
  }
}

.input-group__checkbox input[type="checkbox"]:checked + label .styled-checkbox {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
  box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
  background-color: #1876FB;
}

.input-group__checkbox input[type="checkbox"]:checked + label .styled-checkbox::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 7px;
  background: url("../img/check.svg") no-repeat center;
  background-size: contain;
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}

.input-group__radio input[type="radio"]:checked + label .styled-radio {
  border: 4px solid #1876FB;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
  box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
}

.input-group__radio .styled-radio {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 2px;
  border: 1px solid #CCD5DE;
  border-radius: 100%;
  background-color: #F5F8F9;
  vertical-align: middle;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.input-group__radio span {
  font-size: 14px;
  line-height: 22px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  display: inline-block;
}

.input-group__label {
  font-size: 16px;
  margin-bottom: 8.5px;
  width: 100%;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .input-group__label {
    font-size: 14px;
  }
}

@media (max-width: 759px) {
  .input-group__label {
    font-size: 16px;
  }
}

.input-group__label_radio {
  margin-bottom: 24px !important;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .input-group__label_radio {
    margin-bottom: 18px !important;
  }
}

.input-group__input input,
.input-group__input textarea {
  display: block;
  background-color: #F5F8F9;
  border: 1px solid #CCD5DE;
  padding: 14px;
  width: 100%;
  color: #949FAF;
  font-size: 16px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .input-group__input input,
  .input-group__input textarea {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 759px) {
  .input-group__input input,
  .input-group__input textarea {
    font-size: 16px;
    padding: 13px;
  }
}

.input-group__input input::-webkit-input-placeholder,
.input-group__input textarea::-webkit-input-placeholder {
  color: #949FAF;
}

.input-group__input input:-ms-input-placeholder,
.input-group__input textarea:-ms-input-placeholder {
  color: #949FAF;
}

.input-group__input input::-ms-input-placeholder,
.input-group__input textarea::-ms-input-placeholder {
  color: #949FAF;
}

.input-group__input input::placeholder,
.input-group__input textarea::placeholder {
  color: #949FAF;
}

.input-group_vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.input_round {
  border-radius: 25px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  font-size: 16px;
  color: #fff;
  text-align: center;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
  background-color: #1876FB;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
          box-shadow: 0px 3px 10px 0px rgba(26, 83, 160, 0.34);
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .button {
    font-size: 14px;
    min-height: 30px;
    padding: 8px 0px;
  }
}

.button_round {
  border-radius: 25px;
  max-width: 153px;
}

.button_cyan {
  background-color: #F5F8F9;
  border: 1px solid #CCD5DE;
  color: #333;
}

.button_cyan:hover {
  background-color: #37D7E3;
  color: #fff;
}

.button_arrow-down i {
  display: inline-block;
  margin-left: 10px;
  width: 14px;
  height: 7px;
  vertical-align: middle;
  background: url("../img/arrow-down.svg") no-repeat center;
  background-size: contain;
}

.button_arrow {
  white-space: nowrap;
}

.button_arrow span {
  max-width: 150px;
}

.button_arrow i {
  display: inline-block;
  margin-left: 10px;
  width: 21px;
  height: 7px;
  vertical-align: middle;
  background: url("../img/arrow-right.svg") no-repeat center;
  background-size: contain;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .button_arrow i {
    width: 12px;
  }
}

@media (max-width: 759px) {
  .button_arrow i {
    width: 21px;
  }
}

.button_arrow_blue i {
  background: url("../img/arrow-blue.svg") no-repeat center;
  background-size: contain;
}

.button_light-blue {
  background-color: #4AC7FF;
}

.button_grey {
  background-color: #949FAF;
}

.button:hover {
  -webkit-box-shadow: 0px 3px 20px 0px rgba(26, 83, 160, 0.34);
          box-shadow: 0px 3px 20px 0px rgba(26, 83, 160, 0.34);
}

.button_light-grey {
  background-color: #F5F8F9;
}

.button_light-grey:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.button_light-grey span {
  color: #949FAF;
}

.section-title {
  font-size: 30px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .section-title {
    font-size: 22px;
  }
}

@media (max-width: 759px) {
  .section-title {
    font-size: 30px;
    line-height: 30px;
  }
}

.section-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .section-head {
    margin-bottom: 14px;
  }
}

.counter {
  border: 1px solid #CCD5DE;
  width: 105px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.counter__button {
  width: 30px;
  height: 37px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30px;
          flex: 1 0 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  background-color: #F5F8F9;
  cursor: pointer;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .counter__button {
    font-size: 14px;
    width: 23px;
    height: 23px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 23px;
            flex: 1 0 23px;
  }
}

.counter__button_minus, .counter__button_plus {
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

.counter__button_minus:hover, .counter__button_plus:hover {
  -webkit-filter: brightness(0.975);
          filter: brightness(0.975);
}

.counter__button_minus::after, .counter__button_plus::after {
  font-size: 25px;
}

.counter__button_minus {
  border-right: 1px solid #CCD5DE;
}

.counter__button_minus::after {
  content: '-';
}

.counter__button_plus {
  border-left: 1px solid #CCD5DE;
}

.counter__button_plus::after {
  content: '+';
}

.counter__input {
  background-color: #fff;
  font-size: 12px;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35px;
          flex: 1 0 35px;
  width: 35px;
  text-align: center;
  max-width: 35px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .counter__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 26px;
            flex: 1 0 26px;
    width: 26px;
    max-width: 26px;
    max-height: 23px;
  }
}

.close {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url("../img/close.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  -webkit-transition: -webkit-filter .2s;
  transition: -webkit-filter .2s;
  transition: filter .2s;
  transition: filter .2s, -webkit-filter .2s;
}

.close:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.txt-grey {
  color: #949FAF;
}

.txt-centered {
  text-align: center;
}

.no-shadow,
.no-shadow:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.order-list {
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: 25px;
}

.order-list .order-item {
  display: -ms-grid;
  display: grid;
  position: relative;
      grid-template-areas: 'preview name name' 'preview counter price';
  -ms-grid-columns: 117px 100px auto;
      grid-template-columns: 117px 100px auto;
  row-gap: 10px;
  margin-bottom: 30px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .order-list .order-item {
    -ms-grid-columns: 75px 75px auto;
        grid-template-columns: 75px 75px auto;
    row-gap: 0;
    margin-bottom: 23px;
  }
}

.order-list .order-item__preview {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: preview;
  max-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .order-list .order-item__preview {
    max-height: 62px;
  }
}

.order-list .order-item__preview img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  max-width: 100%;
  max-height: inherit;
}

.order-list .order-item__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: name;
  padding-right: 40px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .order-list .order-item__name {
    margin-bottom: 10px;
  }
}

.order-list .order-item__name a {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .order-list .order-item__name a {
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.order-list .order-item__counter {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-list .order-item__price {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: price;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  font-size: 18px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .order-list .order-item__price {
    font-size: 12px;
    padding-left: 10px;
  }
}

.order-list .order-item__del {
  position: absolute;
  right: 20px;
  top: 5px;
  background: url("../img/close-orange.svg") no-repeat center;
  background-size: contain;
}

.order-list .order-item__del:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.order-list .order-item .close {
  width: 6px;
  height: 6px;
}

.grid-cols-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4] !important;
      grid-template-columns: repeat(4, 1fr) !important;
}

@media (max-width: 759px) {
  .grid-cols-4 {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
  }
}

.all-link {
  margin-left: auto;
  color: #1876FB;
  font-size: 16px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .all-link {
    font-size: 12px;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

.all-link i {
  margin-left: 12px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .all-link i {
    margin-left: 2px;
  }
}

.voblers {
  position: absolute;
  left: 0;
  top: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.voblers .vobler {
  font-size: 14px;
  color: #fff;
  border-radius: 55px;
  min-width: 60px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3px 7px;
  margin-bottom: 10px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .voblers .vobler {
    font-size: 11px;
  }
}

@media (max-width: 759px) {
  .voblers .vobler {
    font-size: 12px;
    min-width: 110px;
    padding: 7px;
    text-align: center;
  }
}

.voblers .vobler_rounded {
  border-radius: 4px;
}

.voblers .vobler.orange {
  background-color: #F58858;
}

.voblers .vobler.green {
  background-color: #67C3B1;
}

.voblers .vobler.cyan {
  background-color: #37D7E3;
}

.rating__num {
  font-size: 12px;
  display: inline-block;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 1399px) and (min-width: 760px) {
  .rating__num {
    -webkit-transform: unset;
            transform: unset;
    margin-left: 5px;
  }
}

.rating .star {
  display: inline-block;
  margin-right: 0px;
  width: 14px;
  height: 14px;
  background: url("../img/star-inactive.svg") no-repeat center;
  background-size: contain;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .rating .star {
    margin-right: 1px;
    width: 12px;
    height: 12px;
  }
}

.rating .star.active {
  background: url("../img/star-active.svg") no-repeat center;
  background-size: contain;
}

.font-grey {
  color: #949FAF;
}

.ico-cons,
.ico-pros {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .ico-cons,
  .ico-pros {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
  }
}

.ico-cons .ico-in,
.ico-pros .ico-in {
  display: inline-block;
  width: 24px;
  height: 24px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .ico-cons .ico-in,
  .ico-pros .ico-in {
    width: 15px;
    height: 15px;
  }
}

.ico-cons .ico-in {
  background: url("../img/Group 8130.svg") no-repeat center;
  background-size: contain;
}

.ico-pros .ico-in {
  background: url("../img/Group 8129.svg") no-repeat center;
  background-size: contain;
}

.discount-color {
  color: #FA6B2B;
}

.preamble {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 30px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .preamble {
    font-size: 16px;
    line-height: 22px;
  }
}

.selection {
  padding: 20px 35px;
  font-size: 19px;
  position: relative;
  width: calc(100% - 15px);
  margin: 45px 0px;
  margin-left: 15px;
}

.selection p {
  margin-bottom: 0 !important;
}

.selection__head {
  font-size: 18px;
  margin-bottom: 5px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .selection__head {
    font-size: 16px;
  }
}

.selection_blue {
  background-color: #F5F8F9;
}

.selection_blue::before {
  background-color: #1876FB;
}

.selection_orange {
  background-color: #FFEFDD;
}

.selection_orange::before {
  background-color: #DD7258;
}

.selection_green {
  background-color: #F2FAE8;
}

.selection_green::before {
  background-color: #54B582;
}

.selection::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 4px;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

@media (max-width: 1399px) and (min-width: 760px) {
  .selection {
    margin: 35px 0px;
    padding: 10px 22px;
    width: 100%;
  }
  .selection::before {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    width: 2px;
  }
}

.table-outer .section-title {
  font-size: 19px;
}

.pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F8F9;
  padding: 53px 0px;
  margin-bottom: 35px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .pre {
    padding: 30px 0px;
    margin-bottom: 22px;
  }
}

.pre-in {
  font-size: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 510px;
  margin: 0 auto;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .pre-in {
    font-size: 22px;
    max-width: 360px;
  }
}

.table {
  width: 100%;
}

.table_stripped {
  font-size: 16px;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .table_stripped {
    font-size: 12px;
    margin-top: 22px;
    margin-bottom: 25px;
  }
}

.table_stripped tr:nth-child(odd) {
  background-color: #F5F8F9;
}

.table_stripped tr:nth-child(even) {
  background-color: #ECF0F2;
}

.table_stripped td {
  min-height: 70px;
  padding: 25px 30px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .table_stripped td {
    padding: 15px 22px;
  }
}

.full-width {
  width: calc(100vw - 10px);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@media screen and (max-width: 992px), screen and (pointer: coarse) {
  .full-width {
    width: 100vw;
  }
}

.list-marked {
  font-size: 19px;
  line-height: 50px;
  padding-top: 5px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .list-marked {
    font-size: 12px;
    line-height: 32px;
  }
}

.list-marked li {
  background: url(../img/check-circle.svg) no-repeat left center;
  padding: 0 0px 0px 50px;
  list-style: none;
  margin: 0;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .list-marked li {
    background-size: 19px;
    padding: 0 0px 0px 32px;
  }
}

.list-numeric {
  font-size: 19px;
  line-height: 50px;
  padding-top: 5px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .list-numeric {
    font-size: 12px;
    line-height: 25px;
  }
}

.list-numeric li {
  list-style: decimal;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .list-numeric li {
    text-indent: 12px;
  }
}

.box-shadow {
  -webkit-box-shadow: 0px 3px 50px 0px rgba(105, 105, 105, 0.11);
  box-shadow: 0px 3px 50px 0px rgba(105, 105, 105, 0.11);
}

.mistake-found {
  background-color: #fff;
  padding: 38px 50px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .mistake-found {
    padding: 24px 35px;
  }
}

.mistake-found .section-head {
  font-size: 22px;
  margin-bottom: 0 !important;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .mistake-found .section-head {
    font-size: 16px;
  }
}

.mistake-found .button {
  font-size: 18px;
  padding: 15px 0px;
  max-width: 190px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .mistake-found .button {
    font-size: 11px;
    max-width: 130px;
    padding: 10px 0px;
  }
}

.content-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.font-default {
  color: #333;
}

.font-default span {
  color: #333;
}
/*# sourceMappingURL=common.css.map */