.detail {
  padding-top: 60px;
  padding-bottom: 45px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail {
    padding-top: 50px;
  }
}

@media (max-width: 759px) {
  .detail {
    padding-top: 35px;
  }
}

.detail section {
  background-color: #fff;
  padding-bottom: 30px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail section {
    padding-bottom: 12px;
  }
}

@media (max-width: 759px) {
  .detail section:not(.detail__slider) {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
    width: calc(100% + 30px);
  }
}

.detail-in {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 495px 395px 292px;
      grid-template-columns: 495px 395px 292px;
  gap: 15px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail-in {
    -ms-grid-columns: 295px 255px 177px;
        grid-template-columns: 295px 255px 177px;
    gap: 10px;
  }
}

@media (max-width: 759px) {
  .detail-in {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.detail__slider {
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 24px 27px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__slider {
    padding: 14px;
  }
}

@media (max-width: 759px) {
  .detail__slider {
    padding: 35px 10px;
  }
}

.detail__slider img {
  max-width: 100%;
}

.detail__main-card {
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 35px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card {
    padding: 10px 25px;
  }
}

@media (max-width: 759px) {
  .detail__main-card {
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 22px 17px;
  }
}

.detail__main-card .catalog-item__info__status {
  margin-bottom: 6px;
}

@media (max-width: 759px) {
  .detail__main-card .catalog-item__info__status {
    margin-bottom: 8px;
  }
}

.detail__main-card .product-name {
  font-size: 22px;
  margin-bottom: 5px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .product-name {
    font-size: 14px;
    margin-bottom: 4px;
  }
}

.detail__main-card .rating {
  margin-bottom: 17px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .rating {
    margin-bottom: 2px;
  }
}

.detail__main-card .product-color {
  font-size: 16px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .product-color {
    font-size: 12px;
  }
}

.detail__main-card .product-color__caption {
  margin-bottom: 12px;
}

.detail__main-card .product-color .active {
  border: 2px solid #B2D2FF;
}

.detail__main-card .product-color .catalog-item__info__colors .one-product-color:not(:nth-last-child(1)) {
  margin-right: 15px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .product-color .catalog-item__info__colors .one-product-color:not(:nth-last-child(1)) {
    margin-right: 7px;
  }
}

.detail__main-card .product-color .catalog-item__info__colors {
  margin-bottom: 30px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .product-color .catalog-item__info__colors {
    margin-bottom: 8px;
  }
}

.detail__main-card .product-description {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 22px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .product-description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 11px;
  }
}

.detail__main-card .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .product-price {
    margin-bottom: 25px;
  }
}

.detail__main-card .product-price__value {
  font-size: 30px;
  font-weight: bold;
  margin-right: 8px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .product-price__value {
    font-size: 18px;
    margin-right: 15px;
  }
}

.detail__main-card .product-price__count {
  font-size: 12px;
  color: #969D97;
}

.detail__main-card .product-price-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail__main-card .product-price-area .product-buy-btn {
  width: 130px;
}

.detail__main-card .product-price-area .product-buy-btn i {
  margin-left: 15px;
}

.detail__main-card .product-price-area .product-counter {
  margin-right: 20px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .product-price-area .product-counter {
    margin-right: 10px;
  }
}

.detail__main-card .product-price-area .product-counter .counter {
  width: 137px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .product-price-area .product-counter .counter {
    width: 89px;
  }
}

.detail__main-card .product-price-area .counter__button, .detail__main-card .product-price-area .counter__input {
  height: 50px;
  width: 45px;
  -ms-flex-preferred-size: 45px;
      flex-basis: 45px;
  max-width: 45px;
  font-size: 18px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__main-card .product-price-area .counter__button, .detail__main-card .product-price-area .counter__input {
    font-size: 14px;
    -ms-flex-preferred-size: 29px;
        flex-basis: 29px;
    max-width: 29px;
    width: 29px;
    height: 30px;
  }
}

.detail__delivery-card {
  padding: 35px 28px;
  line-height: 22px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__delivery-card {
    padding: 18px 14px;
    line-height: 12px;
  }
}

@media (max-width: 759px) {
  .detail__delivery-card {
    padding: 14px 18px;
  }
}

.detail__delivery-card a {
  color: #1876FB;
}

.detail__description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  padding-bottom: 55px !important;
  margin-bottom: 5px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__description {
    padding-bottom: 22px !important;
    margin-bottom: 40px;
  }
}

@media (max-width: 759px) {
  .detail__description {
    -ms-grid-column: 1;
    grid-column: 1;
    padding-bottom: 0 !important;
  }
}

.detail__description .description__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__description .description__tabs {
    margin-bottom: 10px;
  }
}

.detail__description .description__tabs .one-tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  min-height: 67px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__description .description__tabs .one-tab {
    font-size: 12px;
    min-height: 41px;
  }
}

.detail__description .description__tabs .one-tab.active {
  border-bottom: 2px solid #1876FB;
}

.detail__description .description__table {
  padding: 0px 37px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__description .description__table {
    padding: 0px 22px;
  }
}

@media (max-width: 759px) {
  .detail__description .description__table {
    padding: 0px 15px;
  }
}

.detail__description .description__table table {
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__description .description__table table {
    font-size: 14px;
    margin-bottom: 14px;
  }
}

@media (max-width: 759px) {
  .detail__description .description__table table {
    margin-bottom: 30px;
  }
}

.detail__description .description__table table th {
  font-weight: normal;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__description .description__table table th {
    font-size: 14px;
    line-height: 35px;
  }
}

.detail__description .description__table table td {
  padding: 12px 17px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__description .description__table table td {
    padding: 4px 10px;
    font-size: 12px;
  }
}

.detail__description .description__table table tr {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail__description .description__table table tr {
    min-height: 25px;
  }
}

@media (max-width: 759px) {
  .detail__description .description__table table tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 30px;
  }
}

.detail__description .description__table table tr td:nth-child(1) {
  min-width: 71%;
}

@media (max-width: 759px) {
  .detail__description .description__table table tr td:nth-child(1) {
    padding-bottom: 0;
  }
}

@media (max-width: 759px) {
  .detail__description .description__table table tr td:nth-child(2) {
    padding-top: 0;
  }
}

.detail__description .description__table table tr:nth-child(2n) {
  background-color: #F5F8F9;
}

.detail .reviews, .detail .add-feedback-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

@media (max-width: 759px) {
  .detail .reviews, .detail .add-feedback-block {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.detail .delivery-description {
  margin-bottom: 32px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail .delivery-description {
    margin-bottom: 24px;
  }
}

.detail .delivery-description.delivery-options li {
  list-style: inside;
  margin-bottom: 5px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail .delivery-description.delivery-types li:nth-child(1) {
    margin-bottom: 5px;
  }
}

.detail .delivery-description__head {
  font-size: 16px;
  margin-bottom: 7px;
}

@media (max-width: 1399px) and (min-width: 760px) {
  .detail .delivery-description__head {
    font-size: 14px;
    margin-bottom: 14px;
  }
}

@media (max-width: 759px) {
  .detail .delivery-description__head {
    margin-bottom: 5px;
  }
}

.detail .questions {
  padding-top: 10px;
}
/*# sourceMappingURL=detail.css.map */