.footer {
  padding-top: 90px;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.footer__main__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__main__column:not(:nth-child(1)) {
  padding-left: 15px;
}

@media (max-width: 1399px) {
  .footer__main__column:not(:nth-child(1)) {
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
  }
}

.footer__main__column .footer-head {
  font-size: 18px;
  margin-bottom: 22px;
  display: block;
  min-height: 21px;
}

@media (max-width: 1399px) {
  .footer__main__column .footer-head {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.footer__main__column ul {
  -webkit-columns: 1;
          columns: 1;
}

.footer__main__column ul li {
  margin-bottom: 13px;
}

@media (max-width: 1399px) {
  .footer__main__column ul li {
    margin-bottom: 7px;
  }
}

.footer__main__column ul a {
  color: #707070;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.footer__bottom {
  border-top: 1px solid #F5F8F9;
  margin-top: 50px;
}

@media (max-width: 1399px) {
  .footer__bottom {
    margin-top: 3px;
  }
}

.footer__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 85px;
}

.footer__bottom a {
  color: #1876FB;
}

.footer__bottom .copyright {
  color: #484848;
  font-size: 13px;
}

@media (max-width: 1399px) {
  .footer__bottom .copyright {
    font-size: 12px;
  }
}

.footer__bottom .developer {
  font-size: 13px;
  color: #707070;
}

@media (max-width: 1399px) {
  .footer__bottom .developer {
    font-size: 12px;
  }
}

.footer__bottom .soc-block {
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom .soc-block a:nth-last-child(1) .soc-block__element {
  margin-right: 0;
}

.footer__bottom .soc-block__element {
  margin: 0px 12px;
}

@media (max-width: 1399px) {
  .footer__bottom .soc-block__element {
    width: 24px;
    height: 24px;
    -webkit-mask-size: contain;
            mask-size: contain;
    margin: 0px 9px;
  }
}

.footer-contacts {
  margin-top: 30px;
}

@media (max-width: 1399px) {
  .footer-contacts {
    margin-top: 10px;
  }
}

.footer-contacts .tel {
  margin-bottom: 12px;
}

@media (max-width: 1399px) {
  .footer-contacts .tel {
    margin-bottom: 5px;
  }
}

.footer-contacts .schedule {
  font-size: 13px;
  color: #707070;
}

.footer-contacts__address {
  line-height: 22px;
  margin-bottom: 6px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1399px) {
  .footer-contacts__address {
    line-height: 18px;
    margin-bottom: 3px;
  }
}

.footer-contacts__email {
  color: #707070;
  margin-bottom: 30px;
}

.footer-contacts__email a {
  color: #1876FB;
}
/*# sourceMappingURL=footer.css.map */