@import 'variables.scss';
@import '_mixins.scss';

.header {

    @include mobile{
        display: none;
    }
}

.menu {
    background-color: $blue;
    position: relative;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(26,83,160,0.34);
    -moz-box-shadow: 0px 3px 10px 0px rgba(26,83,160,0.34);
    box-shadow: 0px 3px 10px 0px rgba(26,83,160,0.34);

    ul {
        display: flex;
        justify-content: space-between;

        &>li {
            flex: 1;
        }
    }

    .submenu {
        position: absolute;
        background-color: #fff;
        left: 0;
        top: 100%;
        width: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity .3s;
        -webkit-box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16);
        z-index: 100;

        .container {
            display: flex;
        }
    }

    .submenu__left {
        padding-top: 55px;
        min-width: 245px;

        @include tablet{
            width: 215px;
            min-width: unset;
            padding-top: 45px;
        }


        ul {
            flex-direction: column;
        }

        li {
            border: 1px solid #F5F8F9;
            margin-bottom: -1px;
            max-width: 245px;

            &.active,
            &:hover {
                background-color: $blue;

                a {
                    color: #fff;
                }
            }
        }

        a {
            padding: 14.5px 19px;
            display: block;
            font-size: 16px; @include tablet{font-size: 14px}
            color: $blue;

            @include tablet{
                padding: 15.5px 19px;
            }
        }
    }

    .submenu__right {

        padding-top: 75px;

        @include tablet{
            padding-top: 35px;
        }

        &_list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 40px;
            flex: 1;
            margin-left: 65px;

            @include tablet{
                grid-template-columns: repeat(2, 1fr);
                margin-left: 50px;
                row-gap: 30px;
            }

            .one-list-block{
                padding-right: 15px;

                &__head{
                    font-size: 18px; 
                    margin-bottom: 22px;

                    @include tablet{
                        font-size: 14px;
                    }
                }

                ul{
                    flex-direction: column
                }

                li{
                    margin-bottom: 12px;

                    @include tablet{
                        margin-bottom: 7px;
                    }
                }

                a{
                    color: $font-grey;

                    &:hover{
                        border-bottom: 1px solid $border-color;
                    }
                }
            }
        }

        &_grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            flex: 1;

            @include tablet{
                grid-template-columns: repeat(3, 1fr);
                padding-right: 45px;
                padding-top: 45px;
            }

            .submenu-grid-item {

                .submenu-grid-item__caption{
                    border-bottom: 1px solid transparent;
                }

                &:hover .submenu-grid-item__caption {
                    border-bottom: 1px solid $border-color
                }

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;
                }

                &__preview {
                    margin-top: auto;
                    margin-bottom: auto;
                    max-width: 120px;

                    @include tablet{
                        max-width: 75px;
                    }
                }

                &__caption {
                    font-size: 18px; @include tablet{font-size: 14px}
                    margin-bottom: 14px;
                    margin-top: 8px;
                    @include row-dots(2);
                    text-align: center;
                }

            }
        }
    }

    &__item {
        // position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        border-left: 1px solid $blue-dark;
        border-right: 1px solid $blue-dark;
        margin-left: -1px;
        transition: background-color .3s;

        @include tablet{
            min-height: 37px;
        }

        &_active,
        &:hover {
            background-color: $blue-dark;
        }

        &:hover .submenu
        // &_active .submenu 
        {
            height: auto;
            opacity: 1;
            padding-bottom: 60px;
        }

        &>a {
            height: 100%;
            width: 100%;
            display: inline-flex;
            text-align: center;
            align-items: center;
            font-size: 18px; @include tablet{font-size: 12px}
            color: #fff;
            justify-content: center;
        }

        &_search {
            flex: 0 1 72px !important;
            display: inline-block;
            order: 1;
            /*всегда в конце*/

            @include tablet{
                flex: 0 1 48px !important;
            }

            a {
                @include background_img('../img/magnifying-glass-2.svg');
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                height: 100%;

                @include tablet{
                    width: 12.5px;
                }

                @include mobile{
                    width: 17px;
                }
            }
        }
    }
}

.header-top-in {
    min-height: 40px;
    display: flex;
    align-items: center;

    @include tablet{
        height: 33px;
        min-height: unset;
    }

    &__menu {
        justify-self: flex-end;
        margin-left: auto;
        display: flex;
        justify-content: space-between;

        li {
            padding: 0 31px;

            @include tablet{
                padding: 0 14px;
            }

            &:nth-last-child(1) {
                padding-right: 0;
            }

            a {
                line-height: 14px;
                color: $font-grey;
                padding-bottom: 2px;

                &:hover {
                    cursor: pointer;
                    border-bottom: 1px solid $border-color;
                }
            }
        }
    }
}

// to common
.schedule {
    display: inline-flex;
    color: $font-grey;
    flex-direction: column;
}

.tel {
    font-size: 22px;

    @include tablet{
        font-size: 14px;
    }
}

.soc-block {
    display: flex;
    width: max-content;
    align-items: center;
    // margin-left: auto;
    padding: 0px 30px;

    @include tablet{
        display: none;
    }

    &__element {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0px 5px;

        &_fb {
            @include background_img('../img/facebook-with-circle.svg');

            &.soc-block__element_blue{
                background: unset;
                background-color: $blue;
                @include mask_svg('../img/facebook-with-circle.svg');

                &:hover{
                    background-color: #4AC7FF
                }
            }
        }

        &_ins {
            @include background_img('../img/Subtraction 2.svg');

            &.soc-block__element_blue{
                background: unset;
                background-color: $blue;
                @include mask_svg('../img/Subtraction 2.svg');

                &:hover{
                    background-color: #4AC7FF
                }
            }
        }

        &_youtube {
            @include background_img('../img/youtube-with-circle.svg');

            &.soc-block__element_blue{
                background: unset;
                background-color: $blue;
                @include mask_svg('../img/youtube-with-circle.svg');

                &:hover{
                    background-color: #4AC7FF
                }
            }
        }
    }
}

// to common


.header-main {
    border-top: 1px solid $border-color-grey;

    &-in {
        min-height: 80px;
        display: flex;
        justify-content: space-between;

        @include tablet{
            height: 60px;
            min-height: unset;
        }
    }

    &>div {
        align-items: center;
    }

    .logo {
        font-size: 30px; @include tablet{font-size: 22px;}
        @include tablet{
            font-size: 22px;
        }
    }

    .call-back a {
        color: $blue;
        border-bottom: 1px dashed $border-color;
    }
}

.user-menu {
    display: flex;
    min-height: 80px;
    width: max-content;
    transform: translateX(1px);
    // margin-left: auto;

    @include tablet{
        height: 60px;
        min-height: unset;
    }

    @include mobile{
        height: 50px;
        transform: translateX(15px);
    }

    .user-menu-element {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $border-color-grey;
        border-right: 1px solid $border-color-grey;
        margin-left: -1px;
        width: 95px;

        a{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include tablet{
            width: 60px;
        }

        @include mobile{
            width: 52px;
            border-left: 1px solid #1568DD;
            border-right: 1px solid #1568DD;
        }

        &__badge {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #F4F4F4;
            border-radius: 5px;
            font-size: 11px;
            min-width: 25px;
            text-align: center;
            padding: 2px 0px;
        }

        &__ico {
            display: inline-block;
            width: 35px;
            height: 35px;
            background-color: #949FAF;

        

            @include tablet{
                width: 20px;
                height: 20px;
                transform: translateY(7px);
            }

            @include mobile{
                background-color: #71ACFF;
                transform: unset;
            }

            &_favorite {
                @include mask_svg('../img/favorite.svg')
            }

            &_cart {
                @include mask_svg('../img/cart.svg')
            }

            &_profile {
                @include mask_svg('../img/profile.svg')
            }

            &_burger {
                background-color: #fff;
                @include mask_svg('../img/burger.svg')
            }
        }
    }
}