@import 'variables.scss';
@import '_mixins.scss';
// @import 'header.scss';

.header-mobile{
    display: block;
    background-color: $blue;
    color: #fff;

    &__top-row{
        display: flex;
        align-items: center;

        .logo{
            flex: 1;
            font-size: 20px;
            // font-family: 'medium'
        }
    }
}