.personal {
  padding-top: 55px;
}

@media (max-width: 1399px) {
  .personal {
    padding-top: 40px;
  }
}

@media (max-width: 1399px) {
  .personal .catalog-wrapper {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.personal h1 {
  font-size: 30px;
  margin-bottom: 17px;
}

@media (max-width: 1399px) {
  .personal h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.personal .catalog-main__head-row {
  margin-bottom: 35px;
}

.personal .filter {
  padding-top: 17px;
}

@media (max-width: 1399px) {
  .personal .filter {
    padding-top: 0px;
  }
}

.personal .filter .category-list__one-categoty .category__head {
  margin-bottom: 12px;
}

@media (max-width: 1399px) {
  .personal .filter .category-list__one-categoty .category__head {
    margin-bottom: 14px;
  }
}

.orders-list__head {
  background-color: #fff;
  color: #949FAF;
  border-bottom: 1px solid #DEE9F4;
}

@media (max-width: 1399px) {
  .orders-list__head {
    font-size: 14px;
  }
}

.orders-list__head tr {
      grid-template-areas: 'preview name quantity price price-total close';
  -ms-grid-columns: 155px 240px 75px 130px 200px auto;
      grid-template-columns: 155px 240px 75px 130px 200px auto;
  display: -ms-grid;
  display: grid;
}

@media (max-width: 1399px) {
  .orders-list__head tr {
    -ms-grid-columns: 110px 115px 60px 120px 105px auto;
        grid-template-columns: 110px 115px 60px 120px 105px auto;
  }
}

.orders-list__head td {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orders-list__head td:nth-child(1) {
  padding-left: 35px;
}

.orders-list__bottom {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

@media (max-width: 1399px) {
  .orders-list__bottom {
    font-size: 14px;
  }
}

.orders-list__bottom span {
  cursor: pointer;
  color: #949FAF;
}

.orders-accordion .accordion-arrow {
  display: inline-block;
  width: 19px;
  height: 17px;
  background: url("../img/accordion-arrow.svg") no-repeat center;
  background-size: contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.orders-accordion__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 18px 0px 37px;
  cursor: pointer;
  border-bottom: 1px solid #DEE9F4;
}

.orders-accordion__tab.active .accordion-arrow {
  -webkit-transform: unset;
          transform: unset;
}

.orders-accordion__tab .order-date {
  margin-left: auto;
  font-size: 14px;
}

.orders-accordion__tab .order-status {
  margin-left: auto;
  font-size: 16px;
  margin-right: 65px;
}

@media (max-width: 1399px) {
  .orders-accordion__tab .order-status {
    font-size: 16px;
    margin-right: 25px;
  }
}

.orders-accordion__tab .order-name {
  font-size: 18px;
}

@media (max-width: 1399px) {
  .orders-accordion__tab .order-name {
    font-size: 12px;
  }
}

.orders-accordion__content {
  background-color: #fff;
}

.orders-accordion .order-list {
  max-height: unset;
  margin-bottom: 0;
}

.orders-accordion .order-list .order-item {
      grid-template-areas: 'preview name quantity price price-total close';
  -ms-grid-columns: 155px 240px 75px 130px 210px auto;
      grid-template-columns: 155px 240px 75px 130px 210px auto;
  padding: 25px 0px;
  border-top: 1px solid #DEE9F4;
  border-bottom: 1px solid #DEE9F4;
  margin-top: -1px;
  margin-bottom: 0;
}

@media (max-width: 1399px) {
  .orders-accordion .order-list .order-item {
    -ms-grid-columns: 110px 115px 60px 120px 105px auto;
        grid-template-columns: 110px 115px 60px 120px 105px auto;
    padding: 20px 0px;
    min-height: 139px;
  }
}

.orders-accordion .order-list .order-item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  font-size: 16px;
}

.orders-accordion .order-list .order-item__preview {
  padding: 0px 25px !important;
  height: 100%;
  min-height: 100%;
}

.orders-accordion .order-list .order-item__quantity {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: quantity;
  color: rgba(51, 51, 51, 0.3);
}

.orders-accordion .order-list .order-item__total-price {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: price-total;
  font-size: 18px !important;
}

.orders-accordion .order-list .order-item__price {
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.orders-accordion .order-list .order-item__del {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: close;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  left: unset;
  right: unset;
  top: unset;
}

.order-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 355px auto;
      grid-template-columns: 220px 355px auto;
  border-bottom: 1px solid #DEE9F4;
  padding: 20px 35px;
}

@media (max-width: 1399px) {
  .order-footer {
    padding: 22px 38px;
    -ms-grid-columns: 265px 230px auto;
        grid-template-columns: 265px 230px auto;
    padding-right: 25px;
  }
}

.order-footer .proceed-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1399px) {
  .order-footer .proceed-order {
    padding: 5px 0px;
  }
}

.order-footer .proceed-order .button i {
  width: 30px;
}

.order-footer .bonus-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

@media (max-width: 1399px) {
  .order-footer .bonus-code {
    display: none;
  }
}

.order-footer .bonus-code .input-group {
  margin-bottom: 0;
}

.order-footer .bonus-code .input-group__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-footer .bonus-code .input-group__input input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 210px;
          flex: 0 0 210px;
  margin-right: 15px;
}

.order-footer .checkout-aside__total > * {
  display: block;
}

.order-footer .checkout-aside__total .total-head {
  font-size: 16px;
}

@media (max-width: 1399px) {
  .order-footer .checkout-aside__total .total-head {
    margin-bottom: 3px;
  }
}

.order-footer .checkout-aside__total .total-price {
  font-size: 30px;
}

@media (max-width: 1399px) {
  .order-footer .checkout-aside__total .total-price {
    display: inline-block;
  }
}

.order-footer .checkout-aside__total .total-description {
  font-size: 12px;
  color: #969D97;
}

@media (max-width: 1399px) {
  .order-footer .checkout-aside__total .total-description {
    display: inline-block;
    vertical-align: bottom;
    max-width: 100px;
    padding-left: 25px;
  }
}
/*# sourceMappingURL=personal.css.map */