@import 'variables.scss';
@import '_mixins.scss';

.popular-sections {
    margin-bottom: 105px;

    @include tablet{
        margin-bottom: 60px;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include tablet{
            gap: 10px;
        }
    }

    .one-popular-section {
        position: relative;
        background-color: #fff;
        display: flex;
        justify-content: center;

        div:not(.one-popular-section__img){
            z-index: 10;
        }

        &_big {
            background-size: cover;
            min-height: 450px;
            justify-content: flex-start;
            color: #fff; //??

            @include tablet{
                min-height: 290px;
            }

            span{
                color: #fff !important //??
            }

            .voblers{
                position: relative;
            }

            .description-area{
                padding-left: 40px;
                padding-top: 40px;
                padding-bottom: 45px;
                position: relative;
                display: flex;
                flex-direction: column;

                @include tablet{
                    padding-left: 25px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
            }
            
            .one-popular-section__img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 0;

                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }


        &>a {
            padding: 45px 0; //по шаблону непонятный разный отступ у каждого из элементов
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @include tablet{
                padding: 25px; //по шаблону непонятный разный отступ у каждого из элементов
            }
        }


        &:hover {
            box-shadow: 0px 3px 50px 0px rgba(71, 91, 96, 0.24);
        }

        &_big {
            grid-column: 1 / span 2
        }

        &__img {
            height: 205px;
            display: flex;
            justify-content: center;

            @include tablet{
                height: 125px;
            }

            img {
                object-fit: scale-down;
                object-position: top;
            }
        }

        &__caption {
            font-size: 18px; 
            // font-family: 'medium';
            margin-bottom: 5px;
            margin-top: auto;
            @include row-dots(2);

            @include tablet{font-size: 14px}
        }

        &__price {
            font-size: 16px; 
            color: #949FAF;
            margin-bottom: 25px;

            @include tablet{
                font-size: 12px;
                margin-bottom: 15px;
            }
        }

        &__description {
            font-size: 16px; 
            margin-bottom: 30px;
            @include tablet{
                font-size: 14px;
                margin-bottom: 5px;
            }
        }

        &__link {

            @include tablet{
                margin-bottom: 10px;
            }

            i{
                transform: translateX(12px);

                @include tablet{
                    transform: unset;
                }
            }

            &>span {
                font-size: 16px; 
                color: $blue;
                border-bottom: 1px solid #D8E8FF;
                @include tablet{font-size: 11px}
            }

        }
    }

}