@import 'variables.scss';
@import '_mixins.scss';

.sub{
    display: flex;
    box-shadow: 0px 3px 50px 0px rgba(216,220,221,1);

    @include mobile{
        flex-direction: column;
        @include full-width;
    }

    &__head{
        // font-family: 'medium';
        font-size: 22px;
        margin-bottom: 18px;

        @include tablet{
            font-size: 14px;
            margin-bottom: 12px;
        }

        @include mobile{
            margin-bottom: 15px;
        }
    }

    &__description{
        margin-bottom: 25px;
        font-size: 18px; 
        line-height: 30px;

        @include tablet{
            font-size: 12px;
            font-weight: 100;
            line-height: 14px;
        }
    }

    .input{
        padding: 15px 28px;
        font-size: 16px; 
        min-width: 295px;

        @include tablet{
            font-size: 12px;
            padding: 5px 18px;
            min-width: 185px;
        }

        @include mobile{
            min-width: unset;
            width: 100%;
        }
    
    }

    &__left, &__right{
        
    }

    &__left{
        flex: 1 1 93%;
        padding: 38px 52px;
        padding-bottom: 52px;

        @include tablet {
            padding: 25px;
            flex: 1 1 100%;
        }

        @include mobile{
            padding: 45px 15px 55px;
        }
    }

    &__right{
        background-color: $blue;
        color: #fff;
        padding: 38px 52px;
        padding-right: 35px;
        padding-bottom: 52px;

        @include tablet{
            padding: 25px;
        }

        @include mobile{
            padding: 40px 15px;
        }

        .button{
            @include mobile{
                max-width: 100% !important;
            }
        }

        .input-area{
            display: flex;
            
            @include mobile{
                flex-direction: column;
            }

            .input{
                border: 1px solid #4AC7FF;
                color: #fff;
                display: inline-block;
                margin-right: 13px;

                @include mobile{
                    margin-bottom: 15px;
                }
    
                &::placeholder{
                    color: #fff;
                }
            }
        }
    }

    .button{
        max-width: 153px;
        padding: 9px 0px;

        @include tablet{
            max-width: 100px;
        }
    }
}